@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.offer {
    position: fixed;
    top: 0;
    background-color: #000;
    text-transform: uppercase;
    font-weight: bold;
    height: 30px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 1;
}

.offer a {
    font-size: 1rem;
    padding-top: 5px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
}

.offer a:hover {
    color: #89ABE3;
}

.header {
    position: fixed;
    top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    width: 100vw;
    padding: 0 5vh;
    color: #fff;
    background-color: #89ABE3;
    z-index: 1;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.header .checkbtn {
    font-size: 1.5rem;
    color: #fff;
    float: right;
    cursor: pointer;
    display: none;
}

.header #check {
    display: none;
}

.header .logo-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header .logo-list .logo img {
    height: 110px;
    min-width: auto;
    margin: 10px 0px;
}

.header .logo-list .list {
    margin: auto;
}

.header .logo-list .list .navs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.header .logo-list .list .navs .navv a {
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin: 1.5rem;
    letter-spacing: 3px;
}

.header .logo-list .list .navs .navv a::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.header .logo-list .list .navs .navv a:hover::after {
    width: 100%;
}

.header .logo-list .list .navs .navv a:hover {
    color: rgba(0, 0, 0, 0.5);
}

.header .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 1.5rem;
}

.header .icons .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.header .icons .search::after {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: -1px;
    right: 1.2rem;
    background-color: #fff;
}

.header .icons .search .dropdown {
    margin: auto;
    padding-right: .5rem;
}

.header .icons .search .dropdown select {
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    border: none;
}

.header .icons .search .dropdown select:focus {
    outline: none;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

.header .icons .search .dropdown select option {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    letter-spacing: 1px;
    border: none;
}

.header .icons .search .search-text {
    margin: auto;
    position: relative;
    left: .5rem;
}

.header .icons .search .search-text .input-search {
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    width: 10rem;
    height: 1.7rem;
    padding: 5px 5px;
    border: none;
    color: #fff;
}

.header .icons .search .search-text .input-search:focus {
    outline: none;
}

.header .icons .search .search-text .input-search::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
    font-weight: bold;
}

.header .icons .search .search-text .input-search:-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
    font-weight: bold;
}

.header .icons .search .search-text .input-search::-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
    font-weight: bold;
}

.header .icons .search .search-text .input-search::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
    font-weight: bold;
}

.header .icons .icon ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.header .icons .icon ul li {
    padding: 0 1.5rem;
    cursor: pointer;
}

.header .icons .icon ul li .far {
    font-size: 1.7rem;
    color: #fff;
}

.header .icons .icon ul li ul {
    position: absolute;
    top: 95px;
    right: 7rem;
    font-size: 1rem;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
    display: none;
}

.header .icons .icon ul li ul::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 3.75rem;
    border: 10px solid;
    border-color: transparent transparent #000 transparent;
}

.header .icons .icon ul li ul li {
    list-style: none;
    padding: 0.5rem 1rem;
}

.header .icons .icon ul li ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    letter-spacing: 1px;
}

.header .icons .icon ul li ul li a:hover {
    color: #fff;
}

.header .icons .icon ul .active ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header .icons img {
    height: 1.7rem;
    width: auto;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.header .search-btn {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding-right: 1.5rem;
}

@media screen and (max-width: 767px) {
    .header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FCF6FF;
}

/*# sourceMappingURL=style.css.map */