.flex-display {
    display: flex;
    flex-direction: row;
    // align-items: flex-start;
    // justify-content: space-between;
    flex-wrap: wrap;
}

.flex-display-flex-start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.flex-column-align_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-column-align_start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.flex-column-align_start-justify_space_between {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.flex-row-align_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row-align_center-justify_space_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-column-align_center-justify_space_between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flex-row-align_start {
    display: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


#manage-products {

    padding: 70px 0px;

    button {
        padding: 10px 17px;
        background-color: rgb(94, 181, 94);
        border: 2px solid black;
        min-width: 100px;
        margin: 20px 20px;

        &:hover {
            background-color: rgb(199, 254, 21);
            transition: 0.3s ease-out
        }

        &:focus {
            background-color: $nav-color;

        }
    }


    .edit-products {

        min-height: 90vh;
        height: auto;

        .item-sort {
            margin: 20px 0px;
            width: 50%;
            flex: 10%;
        }

        .edit-this {
            box-shadow: -1px 0px 13px 1px rgba(0, 0, 0, 0.66);
            border-radius: 20px;
            padding: 30px 20px;
            margin: 20px 20px;



            .left-part {

                margin-right: 30px;

                img {
                    border-radius: 20px;

                    width: 15rem;
                    height: auto;

                }

                .btns {
                    width: 100%;

                    button {
                        margin: 30px 0px;
                    }
                }
            }

            .right-part {
                p {
                    text-align: justify;
                }
            }
        }

    }


}

#shop-products {

    padding: 70px 0px;

    button {
        padding: 10px 17px;
        border: 2px solid black;
        min-width: 100px;
        margin: 20px 20px;

        &:hover {
            background-color: rgb(199, 254, 21);
            transition: 0.3s ease-out
        }

        &:focus {
            background-color: $nav-color;

        }
    }


    .edit-products {

        min-height: 90vh;
        height: auto;

        .item-sort {
            margin: 20px 0px;
            width: 50%;
            flex: 10%;
        }

        .edit-this {
            box-shadow: -1px 0px 13px 1px rgba(0, 0, 0, 0.66);
            border-radius: 20px;
            padding: 30px 20px;
            margin: 20px 20px;



            .left-part {

                margin-right: 30px;

                img {
                    border-radius: 20px;

                    width: 15rem;
                    height: auto;

                }

                .btns {
                    width: 100%;

                    button {
                        margin: 30px 0px;
                    }
                }
            }

            .right-part {
                p {
                    text-align: justify;
                }
            }
        }

    }


}