@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Raleway&family=Rubik&display=swap');

$font-baloo: "Baloo Thambi 2",cursive;
$font-raleway: "Raleway", cursive;
$font-rubik: "Rubik",cursive;
$color-primary: #003859;
$color-second: #00a5c4;
$color-yellow: #ffd289;
